.app-dark{
   background-color: #111111;
  color: rgba(156,156,156); 
  
}
.app-dark .navbarLink{
    color: rgba(156,156,156); 
    
  }
.app-dark .logo{
    color: rgba(156,156,156); 
    
  }
.app-dark .navbarContainer{
    background-color: #111111;
    color: rgba(156,156,156); 
    border-bottom: 0.5px solid rgb(156, 156, 156);
}
.app-dark .searchInput{
    color: #000000
}

.app-dark .sidebar{
    background-color: #111111;
    color: rgba(156,156,156); 
    
}
.app-dark .sidebarBottom{
  background-color: rgba(156,156,156);;
   color: #000000;
}
.app-dark .menuLink:hover{
    background-color: rgba(98, 97, 97, 0.3);
}
.app-dark .sidebarFriendName{
    color: rgba(156,156,156); 
   
}
.app-dark .feed{
    background-color: #111111;
    color: rgba(156,156,156); 

}
.app-dark .shareInput{
    color: rgba(156,156,156); 

}
.app-dark .rightbar{
    background-color: #111111;
    
}
.app-dark .rightbarUsername{
    color: rgba(156,156,156); 
     
}

