.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    cursor: pointer;
}
.rightbarUsername{
    font-weight: 500;
    margin-left: 10px;
    color: #333;
}
.rightbarProfileContaine{
   margin-right: 10px;
   position: relative;
}
.rightbarProfileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.rightbarOnline{
    position: absolute;
    background-color: limegreen;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
}